@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}
.wrap {
	max-width: 1500px;
	margin: auto;
	padding: 0 80px;
}
section {
	padding: 80px 0;
	transition: padding .3s ease;
}
section .title {
	position: relative;
	text-align: center;
	transition: margin-bottom .3s ease-out;
	font-family: 'Ubuntu', sans-serif;
	font-size: 43px;
	font-weight: 500;
	margin-bottom: 60px;
	padding-bottom: 20px;
}
section .title::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	height: 3px;
	background: #111;
	transform: translateX(-50%);
}
section .title::after {
	position: absolute;
	bottom: -13px;
	left: 50%;
	font-size: 20px;
	color: lightskyblue;
	padding: 5px;
	background: #fff;
	transform: translateX(-50%);
}
section p {
	font-size: 19px;
	text-align: justify;
	padding-bottom: 15px;
}
section ul {
	margin-left: 30px;
	padding: 15px 0;
}
section li {
	padding: 5px 10px;
}
section details summary {
	font-size: 18px;
	font-weight: 600;
	text-align: justify;
	text-decoration: underline;
	cursor: pointer;
}
section details .detail-content {
	display: flex;
	padding-left: 5px;
}
section details .detail-content .text {
	padding-left: 20px;
}
section p a {
	text-decoration: underline;
	color: inherit;
}
section .titre span {
	color: lightskyblue;
	text-shadow: -1px 2px 2px skyblue;
}
section .color {
	color: #7FC0EB;
	font-weight: 500;
}
section p sup {
	font-size: 12px;
	font-family: 'Ubuntu', sans-serif;
	font-style: normal;
}


/*Navigation bar START*/
nav {
	position: fixed;
	width: 100%;
	z-index: 999;
	padding: 30px 0;
	font-family: 'Ubuntu', sans-serif;
	transition: all .2s ease;
}

nav.sticky {
	padding: 4px 0;
	background: lightskyblue;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, .3);
}
nav .wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
nav .logo a {
	color: #fff;
	font-size: 43px;
	font-weight: 600;
	transition: all .2s ease;
}
nav.sticky .logo a {
	font-size: 35px;
}
nav .logo a span {
	color: lightskyblue;
}
nav.sticky .logo a span {
	color: #fff;
}
nav .menu li {
	display: inline-block;
	list-style: none;
	margin-left: 29px;
}
nav .menu li a {
	color: #fff;
	font-size: 25px;
	font-weight: 500;
	transition: all .2s ease;
}
nav.sticky .menu {
	margin-right: 0;
	transition: all .3s ease-out;
}
nav.sticky .menu li a {
	font-size: 22px;
}
nav .menu li a:hover {
	color: lightskyblue;
}
nav.sticky .menu li a:hover {
	color: #fff;
	text-shadow: 3px 3px 2px rgba(0, 0, 0, .1);
}


