@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}
.wrap {
	max-width: 1600px;
	margin: auto;
	padding: 0 80px;
}
section {
	padding: 80px 0;
	transition: padding .3s ease;
}
section .title {
	position: relative;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	font-size: 43px;
	font-weight: 500;
	margin-bottom: 60px;
	padding-bottom: 20px;
	transition: margin-bottom .3s ease-out;
}
section .title::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	height: 3px;
	background: #111;
	transform: translateX(-50%);
}
section .title::after {
	position: absolute;
	bottom: -13px;
	left: 50%;
	font-size: 20px;
	color: lightskyblue;
	padding: 5px;
	background: #fff;
	transform: translateX(-50%);
}
section p a {
	text-decoration: underline;
	color: inherit;
}


/*Navigation bar START*/
nav {
	position: fixed;
	width: 100%;
	z-index: 999;
	padding: 30px 0;
	font-family: 'Ubuntu', sans-serif;
	transition: all .2s ease;
}

nav.sticky {
	padding: 8px 0;
	background: lightskyblue;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, .3);
}
nav .wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
nav .logo a {
	color: #fff;
	font-size: 43px;
	font-weight: 600;
	transition: all .2s ease;
}
nav.sticky .logo a {
	font-size: 40px;
}
nav .logo a span {
	color: lightskyblue;
}
nav.sticky .logo a span {
	color: #fff;
}
nav .menu li {
	display: inline-block;
	list-style: none;
	margin-left: 29px;
}
nav .menu li a {
	color: #fff;
	font-size: 25px;
	font-weight: 500;
	transition: all .2s ease;
}
nav.sticky .menu {
	margin-right: 0;
	transition: all .3s ease-out;
}
nav.sticky .menu li a {
	font-size: 22px;
}
nav .menu li a:hover {
	color: lightskyblue;
}
nav.sticky .menu li a:hover {
	color: #fff;
	text-shadow: 3px 3px 2px rgba(0, 0, 0, .1);
}

/*Home START*/
.home {
	background: url('../img/home-background.png');
	height: 40vh;
	display: flex;
	font-family: 'Ubuntu', sans-serif;
	min-height: 500px;
	color: #fff;
}
.home .wrap {
	margin: auto 50px;
}
.home .home-content {
	margin-top: 7vh;
	display: flex;
}
.home .home-content .text-1 {
	font-size: 50px;
	font-weight: 500;
	margin-top: 50px;
	transition: font-size .3s ease-out;
}
.home .home-content .text-2 {
	font-size: 105px;
	font-weight: 600;
	margin-left: 18vh;
	transition: font-size .3s ease-out;
}

/*About START*/
.about {
	background: #fff;
	font-family: 'Poppins', sans-serif;
	margin-bottom: 40px;
}
.about .title::before {
	width: 200px;
}
.about .title::after {
	content: "Rapport WEB";
}
.about .about-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.about .about-content .left {
	width: 40%;
}
.about .about-content .left img {
	width: 400px;
	height: 400px;
	object-fit: cover;
	border-radius: 7px;
	transition: all .3s ease-out;
}
.about .about-content .right {
	width: 60%;
}
.about .about-content .right .text {
	font-size: 29px;
	font-weight: 600;
	margin-bottom: 8px;
}
.about .about-content .right .text span {
	color: lightskyblue;
	text-shadow: -1px 2px 2px skyblue;
}
.about .about-content .right p {
	font-size: 19px;
	text-align: justify;
	padding-bottom: 15px;
}
.about .about-content .right p span {
	color: red;
	font-weight: 700;
}

/*Article-1 START*/
.article-1 {
	background: #fff;
	font-family: 'Poppins', sans-serif;
	margin-bottom: 40px;
}
.article-1 .title::before {
	width: 200px;
}
.article-1 .title::after {
	content: "La structure";
}
.article-1 .article-1-content {
	align-items: center;
	justify-content: space-between;
}
.article-1 .article-1-content {
	width: 100%;
}
.article-1 .article-1-content .text {
	font-size: 29px;
	font-weight: 600;
	margin-bottom: 10px;
}
.article-1 .article-1-content .text span {
	color: lightskyblue;
	text-shadow: -1px 2px 2px skyblue;
}
.article-1 .article-1-content p {
	font-size: 19px;
	text-align: justify;
}